:root {
  --couleur-darkgreen: #4d7368;
  --couleur-lightcyan: #d9e5e1;
  --couleur-darkblue: #000038;
  --couleur-green: #8fbf78;
  --couleur-white: white;
  --couleur-black: black;

  --fontfamily-poppins: "Poppins", sans-serif;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--couleur-lightcyan);
}
.flex {
  display: flex;
}
.btn {
  display: inline-block;
  padding: 0.4em 0.8em;
  background-color: var(--couleur-green);
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.marg {
  margin: 0 5em;
}
.inp {
  height: 36.6px;
  width: 200px;
  border: none;
  padding: 0 1em;
  font-family: var(--fontfamily-poppins);
}

html {
  font-family: var(--fontfamily-poppins);
  overflow-x: hidden;
  width: 100vw;
}

body {
  min-height: 100vh;
  width: 100vw;
  background-color: var(--couleur-darkgreen);
}

.bod {
  min-height: 100vh;
  width: 100vw;
  background-color: var(--couleur-lightcyan);
}
.marg {
  margin: 0 5rem;
}

.logo {
  font-weight: bold;
  color: var(--couleur-green);
}

header {
  padding: 2rem 5rem;
  justify-content: space-between;
  grid-column: 1/3;
  grid-row: 1/2;
}

.liens a + a {
  margin-left: 1em;
}

.dark {
  color: var(--couleur-darkblue);
}

#drop {
  display: none;
}

.grid {
  display: grid;
  grid-template-columns: 70vw 30vw;
  grid-template-rows: 10vh 90vh;
}

.grid-deux {
  display: grid;
  grid-template-columns: 80vw 20vw;
  grid-template-rows: 10vh 90vh;
}

.sec-grid {
  display: grid;
}

.image-de-fond {
  background: url("images/illustration\ page\ doc1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 50%;
  align-self: center;
  justify-self: center;
  grid-column: 2/3;
  grid-row: 2/3;
}

.fond-vert-light {
  background: url("images/background-light.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 80vh;
  position: absolute;
  z-index: -2;
}

h2 {
  text-align: center;
  margin: 1em 0;
  color: var(--couleur-darkblue);
}

h3 {
  margin: 2em 0;
}

.bold {
  font-weight: bold;
}

.card {
  border-bottom: 2px solid var(--couleur-darkblue);
  padding: 1em 0;
  display: flex;
}
