:root {
  --couleur-darkgreen: #4d7368;
  --couleur-lightcyan: #d9e5e1;
  --couleur-darkblue: #000038;
  --couleur-green: #8fbf78;
  --couleur-white: white;
  --couleur-black: black;

  --fontfamily-poppins: "Poppins", sans-serif;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--couleur-darkgreen);
}
html {
  font-family: var(--fontfamily-poppins);
  overflow-x: hidden;
  width: 100vw;
}

body {
  max-height: 100vh;
  width: 100vw;
  background-color: var(--couleur-lightcyan);
}

.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 30vh);
}

h1, h3{
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}



.card{
  padding: 1rem;
  justify-self: center;
  align-self: center;
  border: 2px solid var(--couleur-darkgreen);
  border-radius: 10px;
  grid-gap: 1em;
  width: fit-content;
  height: fit-content;
}

