:root {
  --couleur-darkgreen: #4d7368;
  --couleur-lightcyan: #d9e5e1;
  --couleur-darkblue: #000038;
  --couleur-green: #8fbf78;
  --couleur-white: white;
  --couleur-black: black;

  --fontfamily-poppins: "Poppins", sans-serif;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--couleur-lightcyan);
}
.flex {
  display: flex;
}
.btn {
  display: inline-block;
  padding: 0.4em 0.8em;
  background-color: var(--couleur-green);
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
.inp {
  height: 25px;
  width: 350px;
  border: none;
  border-radius: 20px;
  padding: 0 1em;
  font-family: var(--fontfamily-poppins);
}

html {
  font-family: var(--fontfamily-poppins);
  overflow-x: hidden;
  width: 100vw;
}

body {
  min-height: 100vh;
  width: 100vw;
  background-color: var(--couleur-lightcyan);
}

.logo {
  font-weight: bold;
  color: var(--couleur-green);
}

header {
  padding: 2rem 5rem;
  justify-content: space-between;
}

.liens a + a {
  margin-left: 1em;
}

.dark {
  color: var(--couleur-darkblue);
}

#drop {
  display: none;
}

.inscription {
  justify-content: center;
}

label {
  display: block;
  color: var(--couleur-darkgreen);
}

.input {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 1em 0;
}

.title {
  color: var(--couleur-darkgreen);
}

.sous-title {
  text-align: center;
  margin-top: 2em;
  font-size: 1.1rem;
  color: var(--couleur-darkblue);
}

.submit,
.annuler {
  color: var(--couleur-lightcyan);
  width: 100px;
  margin: 0 1em;
}

.annuler {
  background-color: var(--couleur-darkgreen);
}

.marg {
  display: flex;
  justify-content: center;
}

.iden {
  margin-left: 0.5em;
  color: var(--couleur-green);
}

.section-identif {
  margin-top: 2em;
  justify-content: center;
}

.section-identif p {
  color: var(--couleur-darkblue);
}

.section-inscriptionM > * {
  margin: 1em 0;
}

.section-inscriptionM {
  display: flex;
  justify-content: center;
}
